#about-home-private {
    position: relative;
    .left-heading {
        color: #003c7a;
        position: relative;
        font-weight: 300;
    }
    .line {
        background-color: #003c7a;
        width: 15px;
        height: 2px;
        display: flex;
        align-items: center;
    }

}