#team-private {
    position: relative;
    overflow: hidden;
    padding-top: 4em;
    .left-heading {
        color: #003c7a;
        position: relative;
    }
    .line {
        background-color: #003c7a;
        width: 15px;
        height: 2px;
        display: flex;
        align-items: center;
    }
    .nav-pills {
        padding: 1em;
        border-top: 1px solid #78BBFF80;
        border-bottom: 1px solid #78BBFF80;
        .nav-item {
            .nav-link {
                color: #4f4f4f;
                text-transform: uppercase;
                &.active {
                    background-color: inherit;
                    color: #003C7A;
                }
            }
        }
    }
    .tab-content {
        .block {
            cursor: pointer;
            .txt {
                border-top: 1px solid #78BBFF;
                margin-top: 1em;
                display: flex;
                gap: 1em;
                align-items: center;
                justify-content: space-between;
                h4 {
                    margin-top: 1em;
                    text-transform: uppercase;
                    font-size: clamp(18px, 1.25vw, 24px);
                    font-weight: 300;
                    margin-bottom: 0;
                }
                p {
                    font-size: clamp(14px, 0.7292vw, 14px);
                    font-weight: 200;
                }
            }
            .sub-head {
                color: #003C7A;
                text-transform: uppercase;
            }
            a {
                margin-top: 10px;
                color: #333;
                text-decoration: none;
            }
        }
    }
    .swiper-container {
        position: relative;
    }
    .swiper-button-next, .swiper-button-prev {
        top: -4em !important;
    }
    .swiper-button-next:after {
        content: url(/img/home/right-arrow.svg);
    }
    .swiper-button-prev:after {
        content: url(/img/home/left-arrow.svg);
    }
    .swiper-button-prev {
        left: inherit;
        right: 5em;
    }
    .swiper-button-next {
        right: 2em;
    }
}
.modal-dialog {
    max-width: 65%;
    .title {
        color: #003C7A;
        font-size: clamp(20px, 2vw, 32px);
        font-weight: 400;
    }
    .sub-head-role {
        color: #003C7A;
        font-weight: 200;
    }
    li {
        color: #464646;
        font-size: clamp(16px, 1vw, 20px);
        font-weight: 200;
        line-height: 1.5;
    }
}
